*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: grey;
  margin: 1rem;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1rem;
}

label {
  font-size: 0.75rem;
}

#stateLabel {
  margin-top: 1rem;
}

.status {
  display: flex;
  align-items: center;
  /* Remove the next line if you want the span to appear next to the h1 */
  justify-content: space-between;
  line-height: 20px;
}

.dot {
  margin-top: 0.5rem;
  height: 25px;
  width: 25px;
  border: 2px solid black;
  border-radius: 50%;
  /* display: inline-block; */
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: rgb(19, 128, 0);
}

.red {
  background-color: red;
}

.section {
  margin-top: 1rem;
}

.field-row {
  margin-top: 0.25rem;
  margin-left: 1rem;
}

.field-row .button-text {
  margin-left: -1rem;
}

button {
  min-width: 125px;
}
